**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/*.user
**/*.suo
**/*.log
**/bin/
**/obj/
**/TestResults/
README.md
.env
.env.example
tests/
**/appsettings.Test.json
**/appsettings.Development.json
